@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: #da251c;
    height: 80vh;
}

.nav{
    display: flex;
    background-color: #da251c;
    background-attachment: fixed;
}

.nav li{
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 30px;
    padding-top: 40px;
    font-size: 20px;
}

.nav img{
    width: 33%;
    margin-left: 22%;
    height: 20vh;
    cursor: pointer;
}

.nav a:hover{
    color: rgba(255, 255, 255, 0.496);
    transition: 1s;
}

.img{
    display: flex;
    position: absolute;
    top: 30%;
    box-shadow: 5px 5px 5px 5px rgba(147, 19, 19, 0.721);
}

.img img{
    width: 33%;
    background-color: red;
}

.inside{
    background-color: #da251c;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px rgba(147, 19, 19, 0.721);
}

.inside p{
    margin-bottom:40px ;
}

.inside a{
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 15px;
    border-radius: 10px;
}

.foot{
    background-color: #555;
    width: 96.0.1%;
    padding: 30px;
}

.foot p{
    margin: 0%;
}
