@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: #da251c; 
    height: 80vh;  
    padding: 30px;
    padding-bottom:0% ;
    display: flex;

}

.nav{
    display: flex;
    background-color: #da251c;
    background-attachment: fixed;
}

.nav li{
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 30px;
    padding-top: 40px;
    font-size: 20px;
}

.nav img{
    width: 33%;
    margin-left: 22%;
    height: 20vh;
    cursor: pointer;
}

.nav a:hover{
    color: rgba(255, 255, 255, 0.496);
    transition: 1s;
}

main h1{
    margin-top:0% ;  
    color: #333;
}

main p{
    color: #333;
}

.foot{
    background-color: #555;
    width: 96.0.1%;
    padding: 30px;
}

.foot p{
    margin: 0%;
}

.inputs{
    margin-left:40px ;
}

.inputs input{
    outline: none;
    background-color: red;
    width: 200%;
}

.text textarea{
    outline: none;
    background-color: red;
}

.inputs input:hover{
    background-color: rgba(255, 255, 255, 0.476);
}

button{
    padding:10px;
}