@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: #da251c;
}

.nav{
    display: flex;
    background-color: #da251c;
    background-attachment: fixed;
}

.nav li{
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 30px;
    padding-top: 40px;
    font-size: 20px;
}

.nav img{
    width: 33%;
    margin-left: 22%;
    height: 20vh;
    cursor: pointer;
}

.nav a:hover{
    color: rgba(255, 255, 255, 0.496);
    transition: 1s;
}

.flex{
    display: flex;
    background: #da251c;
    width: 100%;
    height: 80vh;
}

.img1{
    width: 30%;
    height: 50vh;
    margin-top: 8% ;
    margin-left:10% ;
}

.img2 a img{
    width: 70%;
    height: 50vh;
    margin-top:15%;
    margin-left:33% ;
    box-shadow: 5px 5px 5px 5px rgba(147, 19, 19, 0.721);
}

.img1 a img{
    width: 110%;
    box-shadow: 5px 5px 5px 5px rgba(147, 19, 19, 0.721);
}



.foot{
    background-color: #555;
    width: 96.0.1%;
    padding: 30px;
}

.foot p{
    margin: 0%;
}

main p{
    margin: 0%;
    margin-left:30px;
    cursor: pointer;
}

main p span{
    color: #da251c;
}

main p span:hover{
    color: black;
    transition: 0.5s;
}



@media screen and (max-width: 1280px){
    .img1 a img{
        width: 70%; 
    } 
    .img2 a img{
        width: 33%;
        margin: 100px 10px; 
        height: 28vh;
    } 

    .flex{
        flex-wrap: wrap;
    }
}  